API_BASE_URL=http://10.0.2.2:8080
SUPABASE_URL=https://wsbpgeitpgtzxiqeedpx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzYnBnZWl0cGd0enhpcWVlZHB4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMTc2NDQsImV4cCI6MjA5Mjc5MzY0NH0.NenEZbJnh-I1jWhlEuXG9WVr4z1GUgK1hHUwIg669VI
GEOAPIFY_API_KEY=750a2a28229d4c87818b02b708c9f078
